@charset "UTF-8";

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

i {
  vertical-align: text-bottom;
}

html {
  font-size: 100%;
}
body {
  color: #383e45;
  font-size: 0.9rem;
  font-family: "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}
.site-title a {
  display: block;
}
.section-title {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
  text-align: center;
}
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}
.theme {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto 100px auto;
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

#heager site-title {
  list-style: none;
}

#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}

#mainpic {
  margin-bottom: 80px;
}
#mainpic img {
  width: 100%;
  max-width: 1920px;
  max-height: 500px;
  height: auto;
  object-fit: cover;
}

#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;

}
#about .text {
  text-align: left;
}

#car ul {
  display: flex;
  justify-content: space-between;
}
#car li {
  width: 32%;
}

#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #mainpic img {
    /* height: calc(100vh - 60px); */
  }

  #about .content {
    flex-direction: column;
  }
  #about img {
    margin-right: 0;
  }

  #car ul {
    flex-direction: column;
  }
  #car li {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1080px) {
  #mainpic img {
    text-align: center;
  }
}

#con {
  margin-bottom: 100px;
}
